/* Reset default margin and padding for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Root variables for theme */
:root {
  --background-color: #ffffff; /* Light background */
  --text-color: #000000;
}

/* Dark theme variables */
[data-theme='dark'] {
  --background-color: #1f2937; /* Dark background */
  --text-color: #ffffff; /* Light text */
}

/* Apply theme variables to body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.btn-nav {
  @apply flex items-center px-4 py-2 bg-green-500 text-white rounded hover:bg-green-700 transition-colors duration-200;
}

.circle-btn-nav {
  @apply flex items-center justify-center w-10 h-10 bg-black text-white rounded-full hover:bg-gray-800 transition-colors duration-200 border-2 border-white;
}


/* Tailwind CSS integration */
@tailwind base;
@tailwind components;
@tailwind utilities;
